# Data Science Tools and Ecosystem

### Hello! In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**
  
- R
- Python
- SQl

- Apache Spark
- RStudio

#### Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL
* Julia

### Some of the commonly used libraries used by Data Scientists include:

- Apache Spark
- RStudio
- TensorFlow
- Pandas

# Data Science Tools #

- RStudio
- Visual Studio
- 
Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

-5 ** -3 = ?

12 / 2 = ?

24 + 24

In [14]:
"This a simple arithmetic expression to multiply and then add integers"
(3*4)+5

17

In [22]:
"This will convert 200 minutes to hours by diving by 60"

200 / 60

3.3333333333333335

## Author 

**Andr√©s Romero**